@import url('bootstrap/css/bootstrap.min.css');

table.data {
  border: 1px solid grey;
  empty-cells: show;
  border-collapse: collapse;
  margin-left:auto; 
  margin-right:auto;
}

table.data th {
  background: lightgrey;
}

table.data td, table.data th {
  border: 1px solid grey;
  padding: 4px;
}

div.Main {
  max-width: 1300px;
  min-height: 900px;
  margin:auto;
  padding-top: 20px;
  

  padding-left:10px;
  border-left: 1px solid #e3e3e3;
  border-right: 1px solid#e3e3e3;
  
}


div.Headline {
  color: white;
  background-color: #222;
  border-color: #080808;
  min-height: 50px;
  padding: 10px;
  padding-left: 50px;
}